/* PRIMARY STYLES  */

.primary-btn{
    padding: 10px 30px;
    background-color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 10px;
}
.section-header{

}


/* nav styles  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 40px; */
    width: 80%;
    margin: 0 auto;

}
nav h3{
 color: #131318;
 font-family: Mulish;
 font-size: 36px;
 /* font-style: normal; */
 font-weight: 800;
 /* not brack in line nowrap */
 white-space: nowrap;
 /* line-height: normal; */
 padding-left: 10px;
}
nav .tour{
 color: #FF5400;
 font-family: Mulish;
 font-size: 36px;
 font-style: normal;
 font-weight: 800;
 line-height: normal;
}
nav .img{
    display: flex;
    align-items: center;

}
nav .img img{
    width: 45px;
    height: 50px;
    flex-shrink: 0;
}
nav ul{
    display: flex;
}
nav li{
    list-style:none ;
    margin-right: 40px;
    font-size: 1.4rem;
    
}
nav li a{
    text-decoration:overline;
    font-weight: 500;
    font-family: Mulish;

}
ul .red{
    color:#FF5400 ;
    font-size: 1.5rem;
    font-weight:600 ;
}
/* banner styles  */
.banner{
    /* width: 1200px; */
    width: 80%;
    margin: 0 auto;
    background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    /* background-position: center center; */
    height: 500px;
    opacity: 80%;
}
.banner-content{
    text-align: center;
}
/* form{
    justify-content:center ;
} */
.banner-content{
    padding-top: 50px;
}
.banner-content .banner-header{
    color: #FFF;

font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 0px;

}
.section-description{
    color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding: 0px 150px;
}

/* tour section */
.tours{
    display: flex;
    margin-top: 70px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.tours-header{
    color: #131318;

text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: left;
margin-bottom: 30px;
}
.tours-content{
    padding-left: 0px;
    padding-right: 90px;
}
.tours img{
    /* width: 400px; */
    height: 500px;
    margin-top: 40px;
}
.tours-content input{
    margin-top: 30px;
}

/* destination  */
.destination-content{
 text-align: center;
 width: 80%;
 margin: 0 auto;
}
.destination-header{
    color: #131318;

text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 0px;
margin-top: 70px;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);

text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
padding: 0px 100px;

}
.destination-img{
    text-align: center;
    

}
.images img{
    
    margin: 15px;
}
/* why choose me  */
.choose-header{
color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.choose-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    padding: 0px 240px;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

/* hotel  */
.hotel{
    width: 80%;
    margin: 0px auto;
    display: flex;
    
}
.hotel-one{
    border-radius: 10px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;
}
.hotel-two{
    border-radius: 10px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-left: 19px;
    padding-left: 50px;
    padding-top: 30px;

}
.hotel-three{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-left: 498px;
    margin-top: 30px;
    padding-left: 50px;
    padding-top: 30px;
    text-align: center;
    align-items: center;
    width: 500px;


}
.discount{
    /* width: 80%; */
    text-align: center;
    padding: 0px 140px;

}
.discount-header{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 60px;
margin-bottom: 20px;

}
.discount img{
    margin: 10px 0px;
}

/* palce styles  */
.place{
    width: 80%;
    display: flex;
    margin-left: 130px;
    margin-top: 50px;
    
}
.place-content .place-header{
    color: #131318;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 60px; /* 150% */
margin-bottom: 20px;
margin-top: 0px;
}
.place .place-content{
    margin-left: 40px;
    padding-right: 100px;
}
 .place-img img{
    width: 620px ;
}
.place-content ul{
    margin-bottom: 50px;
    margin-top: 50px;
}
/* newsletter  */
.news-letter{
    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    
}
.news-letter-content{
 border: 1px solid gold;
 padding: 40px;
 border-radius: 10px;
 margin-bottom: 0px;
 height: 340px;
 margin-right: 10px;
}
.news-letter-header{
    color: #0a0a0f;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal
}
.news-letter-content .form-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* border: 3px solid black; */
    padding-bottom: 5px;
}
.form-container .form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    
}
 .form input ::selection{
    background-color: rgb(243, 1, 1);
    color: white;
}
.form input{
    margin-top: 20px;
    padding: 10px ;
    border-radius: 10px;
    border: none;
    background: rgba(19, 19, 24, 0.05);


}
.form .btn-subscribe{
    background-color: #FF5400;
    color: #FFF;
}
/* up to save  */
.news-letter-img .upto{
    color: #FFF;
    background-color: #FF5400;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    position: relative;
    bottom: 110px;
    left: 460px;
    /* top: 40px ; */
    transform: rotate(-20deg);
    margin-top: 0px;
    padding-bottom: 0px;

}
 .upto h5,h3{
   margin: 0px;
   padding-top:0px;
}
.upto{
    padding-top:20px;
}

footer{
    height: 600px;
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
    padding-top: 200px;
}
.footer-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-img h3{
color: #131318;
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-left: 10px;
}
footer p{
    text-align: center;
    padding: 0px 250px;
}
footer .footer-tour{
    color: #FF5400;
}
footer .twentyfour{
    color: red;
}
.footer-img hr{
    padding: 500px;
}
footer p{
color: #5A5A5D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

footer .icon{
    text-align: center;
    font-size: 40px;
    margin: 30px;
}
/* small devices responsive  */
@media screen and (max-width:576px){
    nav, nav ul, .banner, .tours, .hotel, .place, .news-letter{
        flex-direction: column;
        
    }
    nav ul li{
        margin-top: 20px;
    }
    nav  h3{
        margin-left: 100;
    }
    .banner{
        width: 100%;
        height: auto;
        /* color: black; */
        
    }
    .section-description{
        color: #FFF;

        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        padding: 0px 50px;
    }
    .banner .banner-content{
        padding: 0px 0px;
    }
    .tours-content{
        padding-left:10px;
        padding-right: 30px;
        
    }
    .destination-content .destination-description{
        padding: 0px;
    }
    .destination-img{
        text-align: center;
        margin-left: 10px;
    }
    .destination-img img{
        width: 350px;
        height: 200px;
    }
    .choose-description{
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        padding: 0px 15px;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
    }
    /* hotel section styles responsive  */

    .hotel{
        /* margin: 40px; */
        margin-left: 40px;
        gap: 20px;
    }
    .hotel-one h4{
        margin: 0px;
    }
    .hotel-one{
    border-radius: 10px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
   }

    .hotel-two{
        border-radius: 10px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
        margin-left: 0px;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;

    }
    .hotel-three{
        border-radius: 10px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
        margin-left: 40px;
        margin-top: 20px;
        padding-left: 10px;
        padding-top: 0px;
        text-align: center;
        align-items: center;
        width: 290px;
    }
    .hotel-three h4{
        text-align: left;
        padding-left: 13px;
    }
    /* discount  */
    .discount{
        padding: 0px;
    }
    .discount .discount-description{
        padding: 0px 40px;
    }
    .discount img{
        width: 100%;
    }
    /* place styles  */

    .place{
        width: 80%;
        display: flex;
        margin-left: 0px;
        margin-top: 0px;
        
    }
    .place .place-content{
        margin-left: 20px;
        padding-right: 0px;
    }
    .place-content ul{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .place-img img{
        width: 125%;
        margin-top: 20px;
    }
    /* newsletter  */
    .news-letter{
        width: 100%;
    }
    .news-letter-content{
        border: 1px solid gold;
        padding: 40px;
        padding-bottom: 0px;
        border-radius: 10px;
        margin-bottom: 0px;
        height: 340px;
        margin-right: 10px;
    }
    .news-letter-img img{
        width: 100%;
        margin-top: 40px;
    }

    .news-letter-img .upto{
        color: #FFF;
        background-color: #FF5400;
        border-radius: 10px;
        width: 200px;
        height: 50px;
        text-align: center;
        position: relative;
        bottom: 110px;
        left: 170px;
        /* top: 40px ; */
        transform: rotate(-20deg);
        margin-top: 0px;
        padding-bottom: 0px;
    
    }
    /* footer  */

    footer{
        /* height: auto; */
        width: 100%;
        background: rgba(19, 19, 24, 0.05);
        padding-top: 100px;
        /* padding-bottom: 100px; */
    }
    footer p{
        text-align: center;
    padding: 0px 20px;
    }
    footer .icon{
        text-align: center;
        font-size: 40px;
        margin: 30px;
    }



}